html{
    overflow: hidden;
    color: white;
    padding: 10px;
}

body{
    background-color: black;
}

#game-field{
    background-image: url('download.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat;
    height: 800px;
    width: 1500px;
    left: 10%;
    top: 5%;
    position: absolute;
    border: 5px solid orange;
}

#square{
    height: 100px;
    width: 100px;
    position: relative;
    border-radius: 15px;
    background-color: orange;
    border: 1px solid red;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
}

button{
    outline: none;
    border: none;
    width: 195px;
    height: 40px;
    border-radius: 5px;
    background-color: orange;
    z-index: 100;
    color: white;
    top: 95%;
    position: absolute;
    left: 10px;
    transition: 0.1s;

}

button:hover{
    background-color: rgb(155, 106, 21);
    transform: scale(1.1);
}
